.status-bar{
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:3px;
    font-size:12px;
    
}
.status-bar___column{
    width:33%;
}
.status-bar___column:first-child{
    display: flex;
    align-items: center;
}
.status-bar___column:first-child span{
    margin-right: 3px;
}
.status-bar___column:nth-child(2){
    display:flex;
    justify-content: center;
}
.status-bar___column:last-child{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar___column:last-child span,i{
    margin-right: 3px;
}
