@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import "./reset.css";
@import "./variable.css";

/*component*/
@import "./component/status-bar.css";
@import "./component/nav.css";

/*screen*/
@import "./screen/login.css";


body{
    font-family: 'Oswald', sans-serif;
    font-size:15px;
}
nav{
    color:black;
}